<header class="sticky navbar desktop-header">
  <div class=" navbar-inner-div">
  <div class="left-nav">
    <div>
      <a href="https://emaildojo.io">
        <img src="/images/emaildojo-final-01.svg" alt="Netcore logo" height="30">
      </a>
    </div>
  </div>
  <div class="right-nav icon-menu">
    <div class="collapse-element menu-item" onmouseover="mouseover(this)" onmouseleave="mouseleft(this)">
      Tools
      <div class="collapsed-content-tools">
        <div class="collapsed-container">
          <div class="collapsed-container-header ">
            <h4>Tools</h4>
          </div>
          <div class="collapsed-container-body nxt-py-20 row nxt-card-wrapper">
            <div class="col nxt-card nxt-py-20 nxt-px-20">
              <div class="text-left">
                <h5>Email Design Tools</h5>
              </div>
              <div class="nxt-mt-20">
              <a class="menu-item" href="/ai-content-generator">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="https://beta.emaildojo.io/knowledgebase/icons/menuicons/ai-content-gen.svg" alt="acg"></div>
                  <div class="menu-text">
                    <div class="menu-text"><b>AI Content Generator</b></div>
                    <div class="menu-text">Boost Email Engagement And Click Rates!</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="nxt-mt-20">
              <a class="menu-item" href="/email-subject-line-previewer">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="https://beta.emaildojo.io/knowledgebase/icons/menuicons/previewer-black.svg" alt="spreview"></div>
                  <div>
                    <div class="menu-text"><b>Email subject line previewer</b></div>
                    <div class="menu-text">Make Email Subject Line look great on all devices!</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="nxt-mt-20">
              <a class="menu-item" href="/amp-email-editor">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="https://beta.emaildojo.io/knowledgebase/icons/menuicons/ampeditor.svg" alt="ae"></div>
                  <div>
                    <div class="menu-text"><b>AMP Editor</b></div>
                    <div class="menu-text">Create Dynamic Emails!</div>
                  </div>
                </div>
              </a>
            </div>
            </div>
            <div class="col nxt-card nxt-py-20 nxt-px-20">
              <div class="text-left">
                <h5>Email Deliverability Tools</h5>
              </div>
              <div class="nxt-mt-20">
              <a class="menu-item" href="/mx-record-lookup">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="https://beta.emaildojo.io/knowledgebase/icons/menuicons/mx-black.svg" alt="ml"></div>
                  <div>
                    <div class="menu-text"><b>MX Lookup</b></div>
                    <div class="menu-text">Simplify Email Routing!</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="nxt-mt-20">
              <a class="menu-item" href="/email-blocklist-checker">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="https://beta.emaildojo.io/knowledgebase/icons/menuicons/blocklist.svg" alt="bc"></div>
                  <div>
                    <div class="menu-text"><b>Blocklist Checker</b></div>
                    <div class="menu-text">Check if you're on the <br>return path Blocklist.</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="nxt-mt-20">
              <a class="menu-item" href="/spf-record-checker">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="https://beta.emaildojo.io/knowledgebase/icons/menuicons/spf.svg" alt="sr"></div>
                  <div>
                    <div class="menu-text"><b>SPF Record</b></div>
                    <div class="menu-text">Email Security Made Easy!</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="nxt-mt-20">
              <a class="menu-item" href="/dkim-checker">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="https://beta.emaildojo.io/knowledgebase/icons/menuicons/dkim.svg" alt="dir"></div>
                  <div>
                    <div class="menu-text"><b>DKIM Record</b></div>
                    <div class="menu-text">Boost Email Authentication!</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="nxt-mt-20">
              <a class="menu-item" href="/dmarc-checker">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="https://beta.emaildojo.io/knowledgebase/icons/menuicons/dmarc.svg" alt="dmr"></div>
                  <div>
                    <div class="menu-text"><b>DMARC Record</b></div>
                    <div class="menu-text">Protect Your Emails</div>
                  </div>
                </div>
              </a>
            </div>
            </div>
            <div class="col nxt-card nxt-py-20 nxt-px-20">
              <div class="text-left">
                <h5>Email Authentication Tools</h5>
              </div>
              <div class="nxt-mt-20">
              <a class="menu-item" href="https://beta.emaildojo.io/knowledgebase/email-domain-health-checker">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="https://beta.emaildojo.io/knowledgebase/icons/menuicons/emailhealth.svg" alt="edhc"></div>
                  <div>
                    <div class="menu-text"><b> Email Health Checker</b></div>
                    <div class="menu-text">The classic.<br>Track sender reputation.</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="nxt-mt-20">
              <a class="menu-item" href="/email-tester">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="https://beta.emaildojo.io/knowledgebase/icons/menuicons/email-tester.svg" alt="ect"></div>
                  <div>
                    <div class="menu-text"><b>Email Spam Tester</b></div>
                    <div class="menu-text">Optimize Deliverability!</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="nxt-mt-20">
              <a class="menu-item" href="/bimi-record-validator">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="https://beta.emaildojo.io/knowledgebase/icons/menuicons/bimi.svg" alt="bic"></div>
                  <div>
                    <div class="menu-text"><b>BIMI Checker</b></div>
                    <div class="menu-text">Enhance Email Branding!</div>
                  </div>
                </div>
              </a>
            </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="menu-item collapse-element" onmouseover="mouseover(this)" onmouseleave="mouseleft(this)">Knowledgebase
      <div class="collapsed-content-tools">
        <div class="collapsed-container">
          <div class="collapsed-container-header ">
            <h4>Knowledgebase</h4>
          </div>
          <div class="collapsed-container-body-kb nxt-py-40">
            <div>
              <a class="menu-item" href="/categories/">
                  <div class="dflex header-icon-dflex">
                    <div><img class="menu-icon" src="/icons/menuicons/knowledge-center/blog.svg" alt="edhc"></div>
                    <div>
                      <div class="menu-text"><b>Blogs</b></div>
                      <div class="menu-text">Discover the latest and upcoming trends in the realm of email.</div>
                    </div>
                  </div>
              </a>
            </div>
            <div >
              <a class="menu-item" href="/categories/email-insights/">
                  <div class="dflex header-icon-dflex">
                    <div style="margin-right: 10px;"><img class="menu-icon" src="/icons/menuicons/knowledge-center/email-insights.svg" alt="edhc"></div>
                    <div>
                      <div class="menu-text"><b>Email Insights</b></div>
                      <div class="menu-text">Explore curated insights and valuable tips from the vibrant email community.</div>
                    </div>
                  </div>
              </a>
            </div>
            <div>
              <a class="menu-item" href="https://emaildojo.io/email-glossary">
                  <div class="dflex header-icon-dflex">
                    <div><img class="menu-icon" src="/icons/menuicons/knowledge-center/glossary.svg" alt="edhc"></div>
                    <div>
                      <div class="menu-text"><b>Glossary</b></div>
                      <div class="menu-text">Simplifying acronyms and technical jargon</div>
                    </div>
                  </div>
              </a>
            </div>
            <div>
              <a class="menu-item" href="/">
                  <div class="dflex header-icon-dflex">
                    <div><img class="menu-icon" src="/icons/menuicons/knowledge-center/tutorials.svg" alt="edhc"></div>
                    <div>
                      <div class="menu-text"><b>Tutorials</b></div>
                      <div class="menu-text">Realistic, simple-to-follow guidelines .</div>
                    </div>
                  </div>
              </a>
            </div>          
          </div>
        </div>
      </div>
    </div>
    <div class="menu-item" ><a href="https://netcorecloud.com/resources/ebook/" target="_blank">Ebooks</a></div>
      <!-- <div class="menu-item">Mission</div>  -->
      <div class="menu-item disabled coming-soon-hover-effect" onmouseover="mouseover(this)" onmouseleave="mouseleft(this)">Login <span class="badge badge-dark coming-soon">Coming soon..</span></div> 
    </div>
 </div>
</header>
<!-- Responsive navbar-->
<header class="sticky navbar mobile-header">
  <div class="responsive-header-container">
    <div class="responsive-header-left-container"><img src="/images/emaildojo-final-01.svg" alt=""></div>
    <div class="responsive-header-right-container"><img onclick="toggleResponsiveNavbar()" id="responsive-navbar-toggle" src="https://netcorecloud.com/wp-content/themes/netcoretheme/assets/images/hamburger.webp" alt=""></div>
  </div>
  <div id="collapsedContainer" class="fade">
    <div class="collapsedContainer-inner-header">
      <div class="responsive-header-left-container"><img src="/images/emaildojo-final-01.svg" alt=""></div>
      <div class="close-btn" onclick="toggleResponsiveNavbar()"></div>
    </div>
    <div class="navbar-menu-items-container">
      <div class="navbar-menu-items mb-10 mt-10" onclick="toggleToolsSubMenu()">
        <div>Tools</div>
        <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
      </div>
      <hr>
      <div class="navbar-menu-items mb-10 mt-10" onclick="toggleKbSubMenu()">
        <div>Knowledgebase</div>
        <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
      </div>
      <hr>
      <a href="https://netcorecloud.com/resources/ebook/">
      <div class="navbar-menu-items mb-10 mt-10">
        <div>Ebooks</div>
        <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
      </div>
    </a>
      <hr>
    </div>
    <div class="navbar-menu-items-container-tools">
      <div >
        <div class="mb-40" onclick="toggleToolsSubMenu()"><span class="dflex"><img class="arrowleft" src="/images/arrow-down.svg" alt=""> <u>Tools</u></span></div>
        <div class="navbar-menu-items mb-40 email-deliverability-header">
          <div>Email Deliverability Tools
            <div class="mt-10" onclick="deliverabilityShowMore()">Show more</div>
          </div>
          <div onclick="deliverabilityShowMore()"><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
        </div>
        <div class="email-deliverability-tools-collapse inner-collapse mb-10">
          <a href="https://emaildojo.io/mx-record-lookup">
            <div class="navbar-menu-items mb-10">
              <div>MX Lookup</div>
              <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
            </div>
          </a>
          <a href="https://emaildojo.io/spf-record-checker">
            <div class="navbar-menu-items mb-10">
              <div>SPF Record</div>
              <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
            </div>
          </a>
          <a href="https://emaildojo.io/dmarc-checker">
            <div class="navbar-menu-items mb-10">
              <div>DMARC Record</div>
              <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
            </div>
          </a>
          <a href="https://emaildojo.io/dkim-checker">
            <div class="navbar-menu-items mb-10">
              <div>DKIM Record</div>
              <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
            </div>
          </a>
          <a href="https://emaildojo.io/email-blocklist-checker">
            <div class="navbar-menu-items mb-10">
              <div>Blocklist Checker</div>
              <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
            </div>
          </a>
          <div onclick="deliverabilityShowMore()">Show less</div>
        </div>
        <!-- Email Testing and Authentication -->
        <div class="navbar-menu-items mb-40 email-testing-header">
          <div>Email Authentication Tools
            <div class="mt-10" onclick="emailTestingToggleFunction()">Show more</div>
          </div>
          <div onclick="emailTestingToggleFunction()"><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
        </div>
        <div class="email-testing-tools-collapse inner-collapse mb-10">
          <a href="https://emaildojo.io/bimi-record-validator">
            <div class="navbar-menu-items mb-10" >
              <div>BIMI Checker</div>
              <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
            </div>
          </a>
          <a href="https://emaildojo.io/email-tester">
            <div class="navbar-menu-items mb-10">
              <div>Email Spam Tester</div>
              <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
            </div>
          </a>
          <a href="https://emaildojo.io/email-domain-health-checker">
            <div class="navbar-menu-items mb-10">
              <div>Email Health Checker</div>
              <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
            </div>
          </a>
          <div onclick="emailTestingToggleFunction()">Show less</div>
        </div>
        <!-- Email Testing and Authentication ends -->
        <!-- email design tools -->
        <div  class="navbar-menu-items email-design-tools-heading mb-40">
          <div>Email Design Tools
            <div class="mt-10" onclick="emailDesignToggleFunction()">Show more</div>
          </div>
          <div onclick="emailDesignToggleFunction()"><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
        </div>
        <div class="email-design-tool-collapse inner-collapse mb-40">
          <a href="https://emaildojo.io/amp-email-editor">
            <div class="navbar-menu-items mb-10" >
              <div>AMP Editor</div>
              <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
            </div>
          </a>
          <a href="https://emaildojo.io/ai-content-generator">
            <div class="navbar-menu-items mb-10">
              <div>AI Content Generator</div>
              <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
            </div>
          </a>
          <a href="https://emaildojo.io/email-subject-line-previewer">
            <div class="navbar-menu-items mb-10">
              <div>Email Subject Line Previewer</div>
              <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
            </div>
          </a>
          <div onclick="emailDesignToggleFunction()">Show less</div>
        </div>

        <!-- email design tools end -->
        
      </div>
    </div>
    <div class="navbar-menu-items-container-kb">
      <div class="mb-20" ><span onclick="toggleKbFunction()" class="dflex"><img class="arrowleft" src="/images/arrow-down.svg" alt=""> <u>Knowledgebase</u></span></div>
      <a href="https://emaildojo.io/knowledgebase/categories/">
        <div class="navbar-menu-items mb-10">
          <div>Blogs</div>
          <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
        </div>
      </a>
      <a href="https://emaildojo.io/knowledgebase/categories/email-insights/">
        <div class="navbar-menu-items mb-20">
          <div>Email Insights</div>
          <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
        </div>
      </a>
      <a href="https://emaildojo.io/email-glossary">
        <div class="navbar-menu-items mb-20">
          <div>Glossary</div>
          <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
        </div>
      </a>
      <a href="https://emaildojo.io/knowledgebase/">
        <div class="navbar-menu-items mb-20">
          <div>Tutorials</div>
          <div><img class="arrowright" src="/images/arrow-down.svg" alt=""></div>
        </div>
      </a>
    </div>
    <div class="responsive-navbar-footer">
      <a href="#">Login</a>
    </div>
  </div>
  
</header>
<script>

  let collapsedContainer = document.getElementById("collapsedContainer");
  let responsiveHeaderContainer = document.querySelector(".responsive-header-container");
  let navbarMenuItemsContainer = document.querySelector(".navbar-menu-items-container");
  let navbarMenuItemsContainerTools =  document.querySelector(".navbar-menu-items-container-tools");
  let emailDeliverabilityToolsCollapse = document.querySelector(".email-deliverability-tools-collapse");
  let emailDeliverabilityHeader = document.querySelector(".email-deliverability-header");
  let emailTestingHeader = document.querySelector(".email-testing-header");
  let emailTestingCollapse = document.querySelector(".email-testing-tools-collapse");
  let emailDesignToolsCollapse = document.querySelector(".email-design-tool-collapse");
  let emailDesignHeader = document.querySelector(".email-design-tools-heading");
  let navbarMenuItemsContainerKnowledgebase = document.querySelector(".navbar-menu-items-container-kb")
  let navToggleFlag = false;
  let toggleToolFlag = true;
  let deliverabilityToggleFlag = false; 
  let testingToggleFlag = false;
  let designToggleFlag = false;
  let toggleKbFlag = false;
  
  const mouseover = (e) => {
    console.log('over mouse', e.getElementsByClassName('collapsed-content-tools')[0]);
    e.getElementsByClassName('collapsed-content-tools')[0].classList.add('show');
  }

  const mouseleft = (e) => {
    e.getElementsByClassName('collapsed-content-tools')[0].classList.remove('show');
  }
  
  const toggleResponsiveNavbar = () => {
    navToggleFlag = !navToggleFlag;
    toggleFunction();
  }

  const toggleFunction = () =>{
    if(navToggleFlag === true){
      collapsedContainer.style="display:block";
      responsiveHeaderContainer.style = "display:none";
    }
    else{
    collapsedContainer.style="display:none";
    responsiveHeaderContainer.style = "display:flex";
    }
  }

  // toggle tolls menu
  const toggleToolsSubMenu = () =>{
    console.log("tools")
    toggleToolFlag = !toggleToolFlag;
    toggleToolsFunction();
  }

  const toggleToolsFunction = () =>{
    if(toggleToolFlag === false){
      navbarMenuItemsContainer.style = "display:none";
      navbarMenuItemsContainerTools.style = "display:block";
    }else{
      navbarMenuItemsContainer.style = "display:block";
      navbarMenuItemsContainerTools.style = "display:none";
    }
  }

const toggleKbSubMenu = () =>{
    navbarMenuItemsContainer.style = "display:none";
      navbarMenuItemsContainerKnowledgebase.style = "display:block";
  // console.log("Inside kn submenu")
  // toggleKbFlag = !toggleKbFlag
  // console.log(toggleKbFlag)
  // toggleKbFunction()
}
const toggleKbFunction = () =>{
  console.log(toggleKbFlag)
    // if(toggleToolFlag === true){
    //   navbarMenuItemsContainer.style = "display:none";
    //   navbarMenuItemsContainerKnowledgebase.style = "display:block";
    // }else if(toggleToolFlag === false){
      navbarMenuItemsContainer.style = "display:block";
      navbarMenuItemsContainerKnowledgebase.style = "display:none";
    // }
  }

  const deliverabilityShowMore = () =>{
    deliverabilityToggleFlag = !deliverabilityToggleFlag
    deliverabilityToggle()
  }

  const deliverabilityToggle = () =>{
    if(deliverabilityToggleFlag === true){
      emailDeliverabilityToolsCollapse.style="display:block";
      emailDeliverabilityHeader.style="display:none";
    }else{
      emailDeliverabilityToolsCollapse.style="display:none";
      emailDeliverabilityHeader.style="display:flex";
    }
  }

const emailTestingToggleFunction = () =>{
  testingToggleFlag = !testingToggleFlag;
  emailTesting()
}

const emailTesting = () =>{

  if(testingToggleFlag === true){
    emailTestingCollapse.style="display:block";
    emailTestingHeader.style="display:none";
  }else{
    emailTestingCollapse.style="display:none";
    emailTestingHeader.style="display:flex";
  }

}

const emailDesignToggleFunction = () =>{
  designToggleFlag = !designToggleFlag
  emailDesign()
}
const emailDesign = () =>{
  console.log("designtoggle",designToggleFlag)
  if(designToggleFlag === true){
    emailDesignToolsCollapse.style = "display:block"
    emailDesignHeader.style = "display:none"
  }else{
    emailDesignToolsCollapse.style="display:none"
    emailDesignHeader.style="display:flex"
  }
}
</script>
<style>
  @import "../../assets/css/test.css";
  .coming-soon-hover-effect .coming-soon {
    display: none;
  }
  .email-design-tool-collapse{
  display: none;
  /* visibility:hidden; */
}
  .coming-soon-hover-effect:hover .coming-soon{
    display: initial;
  }
  #collapsedContainer {
    display: none;
  padding: 0 0;
  background-color: white;
  /* max-height: 0; */
  overflow: hidden;
  transition: height 20s;
  color: black;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  overflow: scroll;
}

@media screen and (min-width:1101px){
  .mobile-header{
    display: none;
   }
}
  @media screen and (max-width: 1100px) {
   .mobile-header{
    display: block;
   }
   .desktop-header{
    display: none;
   }
  }
  @media screen and (max-width: 768px) {
   .desktop-header{
    display: none;
   }
   .mobile-header{
    display: block;
   }
  }
</style>