<header class="sticky-top navbar dflex justify-content-between">
  <div class=" navbar-inner-div">
  <div class="left-nav">
    <div>
      <a href="https://emaildojo.io">
        <img src="/images/emaildojo-final-01.svg" alt="Netcore logo" height="30">
      </a>
    </div>
  </div>
  <div class="right-nav dflex align-items-center justify-content-center icon-menu">
    <div class="collapse-element menu-item" onmouseover="mouseover(this)" onmouseleave="mouseleft(this)">
      Tools
      <div class="collapsed-content-tools">
        <div class="collapsed-container">
          <div class="collapsed-container-header ">
            <h4>Tools</h4>
          </div>
          <div class="collapsed-container-body nxt-py-40">
            <div>
              <a class="menu-item" href="https://emaildojo.io/email-domain-health-checker">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="/icons/menuicons/emailhealth.svg" alt="edhc"></div>
                  <div>
                    <div class="menu-text"><b> Email Domain Health Checker</b></div>
                    <div class="menu-text">The classic. Track your sender reputation.</div>                    
                  </div>
                </div>
              </a>
            </div>   
            <div>
              <a class="menu-item" href="https://emaildojo.io/ai-content-generator">
                <div class="header-icon-dflex">
                  <div><img class="menu-icon" src="/icons/menuicons/ai-content-gen.svg" alt="acg"></div>
                  <div class="menu-text">
                    <div class="menu-text"><b>AI Content Generator</b></div>
                    <div class="menu-text">Boost Email Open Rates!</div>
                  </div>
              </div>
                
                <!-- <p class="menu-text"></p> -->
            </a>
          </div>
          <div >
            <a class="menu-item" href="https://emaildojo.io/amp-email-editor">
                  <div class="header-icon-dflex">
                      <div><img class="menu-icon" src="/icons/menuicons/ampeditor.svg" alt="ae"></div>
                      <div>
                           <div class="menu-text"><b>AMP Editor</b></div>
                           <div class="menu-text">Create Dynamic Emails!</div>
                      </div>
                  </div>
              </a>
          </div>            
          <div>
            <a class="menu-item" href="https://emaildojo.io/email-tester">
               <div class="header-icon-dflex">
                <div><img class="menu-icon" src="/icons/menuicons/email-tester.svg" alt="ect"></div>
                  <div>
                    <div class="menu-text"><b>Email Content Tester</b></div>
                    <div class="menu-text">Optimize Deliverability!</div>
                  </div>
                </div>
            </a>
          </div>
           <div >
              <a class="menu-item" href="https://emaildojo.io/email-blocklist-checker">
                  <div class="header-icon-dflex">
                      <div><img class="menu-icon" src="/icons/menuicons/blocklist.svg" alt="bc"></div>
                      <div> 
                        <div class="menu-text"><b>Blocklist Checker</b></div>
                        <div class="menu-text">Check if you're on the Return Path Blocklist.</div>
                      </div>
                  </div>  
              </a>
          </div>
          <div>
            <a class="menu-item" href="https://emaildojo.io/bimi-record-validator">
              <div class="header-icon-dflex">
                <div><img class="menu-icon" src="/icons/menuicons/bimi.svg" alt="bic"></div>
                <div> 
                  <div class="menu-text"><b>BIMI Checker</b></div>
                  <div class="menu-text">Enhance Email Branding!</div>
                </div>
              </div>  
            </a>
          </div>
          <div >
            <a class="menu-item" href="https://emaildojo.io/mx-record-lookup">
              <div class="header-icon-dflex">
                <div><img class="menu-icon" src="/icons/menuicons/mx-black.svg" alt="ml"></div>
                <div> 
                  <div class="menu-text"><b>MX Lookup</b></div>
                  <div class="menu-text">Simplify Email Routing!</div>
                </div>
              </div>  
            </a>
          </div>
          <div >
            <a class="menu-item" href="https://emaildojo.io/spf-record-checker">
              <div class="header-icon-dflex">
                <div><img class="menu-icon" src="/icons/menuicons/spf.svg" alt="sr"></div>
                <div> 
                  <div class="menu-text"><b>SPF Record</b></div>
                  <div class="menu-text">Email Security Made Easy!</div>
                </div>
              </div> 
            </a>
          </div>
          <div>
            <a class="menu-item" href="https://emaildojo.io/dkim-checker">
              <div class="header-icon-dflex">
                <div><img class="menu-icon" src="/icons/menuicons/dkim.svg" alt="dir"></div>
                  <div> 
                    <div class="menu-text"><b>DKIM Record</b></div>
                    <div class="menu-text">Boost Email Authentication!</div>
                  </div>
                </div> 
              </a>
          </div>
          <div>
              <a class="menu-item" href="https://emaildojo.io/dmarc-checker">
                  <div class="header-icon-dflex">
                      <div><img class="menu-icon" src="/icons/menuicons/dmarc.svg" alt="dmr"></div>
                      <div> 
                          <div class="menu-text"><b>DMARC Record</b></div>
                          <div class="menu-text">Protect Your Emails</div>
                      </div>
                  </div> 
              </a>
          </div>       
        </div>
        </div>
      </div>
    </div>
    <div class="menu-item collapse-element" onmouseover="mouseover(this)" onmouseleave="mouseleft(this)">Knowledgebase
      <div class="collapsed-content-tools">
        <div class="collapsed-container">
          <div class="collapsed-container-header ">
            <h4>Knowledgebase</h4>
          </div>
          <div class="collapsed-container-body-kb nxt-py-40">
            <div>
              <a class="menu-item" href="/categories/">
                  <div class="dflex header-icon-dflex">
                    <div><img class="menu-icon" src="/icons/menuicons/knowledge-center/blog.svg" alt="edhc"></div>
                    <div>
                      <div class="menu-text"><b>Blogs</b></div>
                      <div class="menu-text">Discover the latest and upcoming trends in the realm of email.</div>
                    </div>
                  </div>
              </a>
            </div>
            <div >
              <a class="menu-item" href="/categories/email-insights/">
                  <div class="dflex header-icon-dflex">
                    <div style="margin-right: 10px;"><img class="menu-icon" src="/icons/menuicons/knowledge-center/email-insights.svg" alt="edhc"></div>
                    <div>
                      <div class="menu-text"><b>Email Insights</b></div>
                      <div class="menu-text">Explore curated insights and valuable tips from the vibrant email community.</div>
                    </div>
                  </div>
              </a>
            </div>
            <div>
              <a class="menu-item" href="#">
                  <div class="dflex header-icon-dflex">
                    <div><img class="menu-icon" src="/icons/menuicons/knowledge-center/glossary.svg" alt="edhc"></div>
                    <div>
                      <div class="menu-text"><b>Glossary</b></div>
                      <div class="menu-text">Simplifying acronyms and technical jargon</div>
                    </div>
                  </div>
              </a>
            </div>
            <div>
              <a class="menu-item" href="/">
                  <div class="dflex header-icon-dflex">
                    <div><img class="menu-icon" src="/icons/menuicons/knowledge-center/tutorials.svg" alt="edhc"></div>
                    <div>
                      <div class="menu-text"><b>Tutorials</b></div>
                      <div class="menu-text">Realistic, simple-to-follow guidelines .</div>
                    </div>
                  </div>
              </a>
            </div>          
          </div>
        </div>
      </div>
    </div>
    <div class="menu-item" ><a href="https://netcorecloud.com/resources/ebook/" target="_blank">Ebooks</a></div>
      <!-- <div class="menu-item">Mission</div>  -->
      <div class="menu-item disabled coming-soon-hover-effect" onmouseover="mouseover(this)" onmouseleave="mouseleft(this)">Login <span class="badge badge-dark coming-soon">Coming soon..</span></div> 
    </div>
 </div>
</header>
<script>
  const mouseover = (e) => {
    console.log('over mouse', e.getElementsByClassName('collapsed-content-tools')[0]);
    e.getElementsByClassName('collapsed-content-tools')[0].classList.add('show');
  }

  const mouseleft = (e) => {
    e.getElementsByClassName('collapsed-content-tools')[0].classList.remove('show');
  }
</script>
<style>
  .coming-soon-hover-effect .coming-soon {
    display: none;
  }

  .coming-soon-hover-effect:hover .coming-soon{
    display: initial;
  }
</style>