<div class="landing-footer-menu nxt-py-40">
  <div class="landing-footer-text">
    <div>
      <ul> <div class="nxt-mb-10 nxt-py-10 footer-menu-ul"><img src="/images/emaildojo-final-01-white.svg" alt="Netcore logo" height="30"></div> 
        <!-- <li><a href="/our-vision">Our Mission</a></li> -->
        <li> <a href="https://netcorecloud.com/privacy-policy/">Privacy policy</a></li>
        <li><a href="https://netcorecloud.com/email-api-terms-and-policies/">Terms & Conditions</a></li>
      </ul>
    </div>
    <div>
      <ul> <div class="nxt-mb-10 nxt-py-10 footer-menu-ul">Tools</div>
      <div class="uld-flex">
        <div> 
          <li><a href="https://emaildojo.io/ai-content-generator">AI Content Generator</a></li>
          <li><a href="https://emaildojo.io/spf-record-checker">SPF Records</a></li>
          <li><a href="https://emaildojo.io/mx-record-lookup">MX Records</a></li>
        </div>
        <div>
          <li><a href="https://emaildojo.io/dmarc-checker">DMARC Records</a></li>
          <li><a href="https://emaildojo.io/dkim-checker">DKIM Records</a></li>
          <li><a href="https://emaildojo.io/bimi-record-validator">BIMI Checker</a></li>
        </div>
        <div> 
          <li><a href="https://emaildojo.io/email-tester">Email Spam Tester</a></li>
          <li><a href="https://emaildojo.io/email-domain-health-checker">Email Heath Checker</a></li>
          <li><a href="https://emaildojo.io/email-blocklist-checker">Blocklist Checker</a></li>
        </div>
      </div>
    </ul>
  </div>
  <div>
    <ul> <div class="nxt-mb-10 nxt-py-10 footer-menu-ul">Knowledegebase</div>
      <li><a href="/categories">Blog</a></li>
      <li><a href="https://beta.emaildojo.io/email-glossary">Glossary</a></li>
      <li><a href="/categories/email-insights/">Email Insights</a></li>
      <!-- <li><a href="#">Tutorials</a></li> -->
    </ul>
  </div>   
  </div>
</div>
<footer class="sub-footer">
  <div class="landing-footer dflex justify-content-between nxt-py-10">
    <div class="landing-sub-footer-text  copyright">
      ©  {{ now.Year }}, Netcore Cloud Pvt. Ltd.
    </div>
    <div class="landing-sub-footer-text made-with-love-text">Made with ❤️ for email community</div>
    <div><img src="/images/netcore-logo-footer.svg" alt="" height="25" ></div>
  </div>
</footer>